
p{
    color:grey;
}

/*navbar*/
#section-1 h1 , p {
    margin:0px;
}
.anchor {
    display:flex;
    justify-content: end;
    gap:20px;
    padding:20px;
}
.anchor a{
    color:black;
    text-decoration: none;
}
.navbar{
    display: flex;
    gap:210px;
    justify-content: space-around;
    padding:20px;
    background-color: antiquewhite;
}
/*navbar*/
  
/*section-1*/
button{
    margin:30px;
    background-color: orange;
    color:white;
    border-radius: 4px ;
    border:1px solid orange;
    height:40px;
}
.hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:20px;
gap:10px;
}
 .img{
    display: flex;
    justify-content: center;
    align-items: center;
 }
#section-1 img{
   width:1040px;
   height:550px;

}
#section-1{
    background-color: antiquewhite;
    padding:15px;
}
/*section-1*/

/*section-2*/
#section-2 img{
    height:auto;
    width:100%;

}
.team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
  
    height:auto;
    width:700px;
}

#section-2 h2{
    margin:0px;
}
.feature{
    display: flex;
    flex-direction:column;
}

.fdiv{
    display: flex;
    justify-content: left;
    align-items: center;
  padding-top:70px;
     height:auto;
    width:900px;
    font-size: 20px;

}
#section-2 button{
     background-color: orange;
    color:white;
    border-radius: 4px ;
    border:1px solid orange;
    height:40px;
    width:120px;
    margin-left:0px;
}


#section-2 {
    display: flex;
    gap:50px;
    padding:50px 230px;
  
}
/*section-2*/

/*section-3*/
#section-3 hr{
    width:5px;
    height:70px;
    background-color: orange;
    border:none;
   margin:8px;
   

}
.title{
    display:flex;
    width:350px;
    font-size: 30px;
   padding:30px;
   margin:0px;
   
}
#section-3 .p{
    margin:10px;

}
#section-3{
    width:625px;
    height:250px;
}
.card{
    padding:20px;
    margin:19px;
    border:1px solid white;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 6px rgb(246, 243, 243);
}
#section-4{
 
    width:600px;
    height:auto;
    padding:15px;
    margin:0px;
   
}
.arc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:1150px;
    height:auto;
    gap:40px;
    padding:160px;
    margin:0px;
    border:2px solid red;
}

#section-3{
    grid-row:span 1;
    grid-column:span 1;
}
.girl{
  grid-row:span 2;
    grid-column:span 1;
    position:relative;

}
.girl img{
    width:100%;
    height:800px;
    display:block;
}
#section-4{
    grid-row:span 1;
    grid-column:span 1;
}
.ex{
    background-color: orange;
    color:white;
    width:170px;
    height:80px;
    padding:25px;
    text-align: center;
    font-size: 20px;
    position:absolute;
    bottom:-15px;
    left:-45px;
    border-radius:10px;


}
.ex h1, h3{
    margin:0px;
}
